<div id="page-content" class="page-content">
    <section>
        <div class="row-fluid">
        	<div class="span2">
        		<div class="widget widget-box widget-recent">
		            <div class="widget-header">
		                <h4><i class="fontello-icon-user"></i>我的好友</h4>
		            </div>
		            <div class="widget-content">
		                <div class="widget-body">
		                    <ul class="widget-list list-bordered">
		                        <li class="media">
		                            asdasdasdas
		                        </li>
		                        <li class="media">
		                            asdasdasdas
		                        </li>
		                        <li class="media">
		                            asdasdasdas
		                        </li>
		                    </ul>
		                </div>
		            </div>
		        </div>
        	</div>

        	<div class="span10">
        		<div class="widget widget-box widget-recent">
		            <div class="widget-header">
		                <h4>Recent Article <small>Custom thumb size</small></h4>
		            </div>
		            <div class="widget-content">
		                <div class="widget-body">
		                    <ul class="widget-list list-bordered">
		                        <li class="media">
		                            <div class="media-left"> <a class="img-shadow" href="javascript:void(0);"><img class="thumb media-object" src="http://placehold.it/167x96" width="167" height="96"></a> </div>
		                            <div class="media-body">
		                                <h4 class="media-heading"> <a href="javascript:void(0);">Aliquam facilisis enim et elit tincidunt Suspendisse</a> <small>Lorem ipsum dolor.</small></h4>
		                                <ul class="data inline">
		                                    <li><strong>By:</strong> <a href="javascript:void(0);"> Thomas Mandrage</a></li>
		                                    <li class="divider-vertical"></li>
		                                    <li><strong>2 Aug 2012</strong>, 09:27 AM</li>
		                                </ul>
		                                <p class="post">Lorem ipsum dolor sit amet consectetuer Nunc porta Maecenas lorem semper. Mauris risus justo egest Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. Cras sit amet nibh libero, in gravida nulla. Lorem ipsum dolor....</p>
		                            </div>
		                        </li>
		                        <li class="media">
		                            <div class="media-left"> <a class="img-shadow" href="javascript:void(0);"><img class="thumb media-object" src="http://placehold.it/122x70"></a> </div>
		                            <div class="media-body">
		                                <ul class="data inline">
		                                    <li><i class="fontello-icon-comment-4 margin-right5"></i> </li>
		                                    <li>By: <a href="javascript:void(0);"> gatesa@example.com</a></li>
		                                    <li class="divider-vertical"></li>
		                                    <li><strong>2 Aug 2012</strong>, 09:27 AM</li>
		                                    <li class="divider-vertical"></li>
		                                    <li>IP: <strong>158.45.46.27</strong></li>
		                                    <li class="divider-vertical"></li>
		                                    <li>updated: <strong>6:25 PM</strong> (5 hours ago)</li>
		                                </ul>
		                                <h6 class="media-heading"> <a href="javascript:void(0);">Aliquam facilisis enim et elit tincidunt Suspendisse</a> <small>Lorem ipsum dolor.</small></h6>
		                                <p class="post">Lorem ipsum dolor sit amet consectetuer Nunc porta Maecenas lorem semper. Mauris risus justo egest Fusce condimentum nunc ac nisi...</p>
		                            </div>
		                        </li>
		                        <li class="media">
		                            <div class="media-left"> <a class="img-shadow" href="javascript:void(0);"><img class="thumb media-object" src="http://placehold.it/96x55"></a> </div>
		                            <div class="media-body">
		                                <h5 class="media-heading"> <a href="javascript:void(0);">Aliquam facilisis enim et elit tincidunt Suspendisse</a> <small>Lorem ipsum dolor.</small></h5>
		                                <ul class="data inline">
		                                    <li><i class="fontello-icon-comment-4 margin-right5"></i> </li>
		                                    <li>By: <a href="javascript:void(0);"> gatesa@example.com</a></li>
		                                    <li class="divider-vertical"></li>
		                                    <li><strong>2 Aug 2012</strong>, 09:27 AM</li>
		                                    <li class="divider-vertical"></li>
		                                    <li>IP: <strong>158.45.46.27</strong></li>
		                                    <li class="divider-vertical"></li>
		                                    <li>updated: <strong>6:25 PM</strong> (5 hours ago)</li>
		                                </ul>
		                            </div>
		                        </li>
		                        <li class="media">
		                            <div class="media-left"> <a class="img-shadow" href="javascript:void(0);"><img class="thumb media-object" src="http://placehold.it/78x45"></a> </div>
		                            <div class="media-body">
		                                <h4 class="media-heading"> <a href="javascript:void(0);">Enim et elit tincidunt Suspendisse</a> <small>Lorem ipsum dolor.</small></h4>
		                                <ul class="meta inline">
		                                    <li><i class="fontello-icon-comment-4 margin-right5"></i> </li>
		                                    <li>By: <a href="javascript:void(0);"> gatesa@example.com</a></li>
		                                    <li class="divider-vertical"></li>
		                                    <li><strong>2 Aug 2012</strong>, 09:27 AM</li>
		                                    <li class="divider-vertical"></li>
		                                    <li>IP: <strong>158.45.46.27</strong></li>
		                                    <li class="divider-vertical"></li>
		                                    <li>updated: <strong>6:25 PM</strong> (5 hours ago)</li>
		                                </ul>
		                            </div>
		                        </li>
		                    </ul>
		                </div>
		            </div>
		        </div>
        	</div>
        	
        </div>                        
    </section>      
</div> 
