<script type="text/ng-template" id="jurisdictionModal.html">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fontello-icon-cancel-1" ng-click="cancel()"></i></button>
        <h4>权限增加/修改</h4>
    </div>
    <div class="modal-body">
        <form name="myForm" ng-submit="submitForm(myForm.$valid)" class="form-horizontal" novalidate>
            <div class="row-fluid">
                <div class="span12">
                    <ul class="form-list label-right list-bordered dotted">
                        <!-- <li class="section-form">
                            <h4>Personal data</h4>
                        </li> -->
                        <li class="control-group">
                            <label for="accountPrefix" class="control-label">权限名称</label>
                            <div class="controls">
                                <input class="span8" type="text" ng-model="jurisdiction.name" required>
                            </div>
                        </li>                        
                    </ul>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-boo"  ng-click="cancel()">取消</button>
        <button type="button" class="btn btn-green" ng-disabled="myForm.$invalid || btn_spinner_display" ng-click="confirm()">确定</button>
    </div>
</script>




<div class="row-fluid page-head">
    <h2><i class="aweso-icon-table"></i> 管理员 <small>权限列表 </small></h2>
    <div class="page-bar">
        <div class="btn-toolbar"> </div>
    </div>
</div>           
<div id="page-content" class="page-content">
    <section>
        <div class="row-fluid">
            <div class="well well-small well-nice">
                <div class="navbar">
                    <div class="navbar-inner">
                        <div class="widget-header">
                            <!-- <div class="form-horizontal">
                                <div class="span3">
                                    <label for="role_id" class="control-label span3">角色:</label>
                                    <div class="controls  span7">
                                        <select2 ng-model="usersinfo.role_id" placeholder="请选择角色" s2-options="val.id as val.name for val in roleList" options="{allowClear:true}" class="control-label" required></select2>
                                    </div>
                                </div>
                                <div class="span3">
                                    <label for="role_id" class="control-label span3">角色:</label>
                                    <div class="controls  span7">
                                        <select2 ng-model="usersinfo.role_id" placeholder="请选择角色" s2-options="val.id as val.name for val in roleList" options="{allowClear:true}" class="control-label" required></select2>
                                    </div>
                                </div>
                                <div class="span3">
                                    <label for="role_id" class="control-label span3">角色:</label>
                                    <div class="controls  span7">
                                        <select2 ng-model="usersinfo.role_id" placeholder="请选择角色" s2-options="val.id as val.name for val in roleList" options="{allowClear:true}" class="control-label" required></select2>
                                    </div>
                                </div>
                                <div class="span3">
                                    <label for="role_id" class="control-label span3">角色:</label>
                                    <div class="controls  span7">
                                        <select2 ng-model="usersinfo.role_id" placeholder="请选择角色" s2-options="val.id as val.name for val in roleList" options="{allowClear:true}" class="control-label" required></select2>
                                    </div>
                                </div>
                            </div> -->

                            

                            <div class="form-group  has-feedback span12">
                                <div class="span3">
                                    <label class="span3">角色</label>
                                    <div class="span9">
                                        <select2 ng-model="usersinfo.role_id" placeholder="请选择角色" s2-options="val.id as val.name for val in roleList" options="{allowClear:true}" class="control-label span8" ng-change="role_select_jurisdiction()"></select2>
                                    </div>
                                </div>
                            </div>

                            <!-- <div class="form-group  has-feedback">
                                <div class="span3">
                                    <label class="span3">用户单位</label>
                                    <div class="span9">
                                        <input type="text" ng-model="OrdersCommon.unit" class="form-control">
                                    </div>
                                </div>
                                

                                <div class="span3">
                                    <label class="span3">用户单位</label>
                                    <div class="span9">
                                        <input type="text" ng-model="OrdersCommon.unit" class="form-control">
                                    </div>
                                </div>

                                <div class="span3">
                                    <label class="span3">用户单位</label>
                                    <div class="span9">
                                        <input type="text" ng-model="OrdersCommon.unit" class="form-control">
                                    </div>
                                </div>

                                <div class="span3">
                                    <label class="span3">用户单位</label>
                                    <div class="span9">
                                        <input type="text" ng-model="OrdersCommon.unit" class="form-control">
                                    </div>
                                </div>
                            </div> -->

                        </div>
                    </div>
                </div>
                <!-- // navbar -->
                <div class="table-wrapper">
                    <table class="table boo-table table-content table-hover">
                        <thead>
                            <tr>
                                <th class="check-col"><input type="checkbox" class="checkbox check-all" name="check-all"></th>
                                <th>权限</th>
                            </tr>
                        </thead>
                        <tbody>
                           <tr ng-repeat="row in list">
                                <td><input type="checkbox" class="checkbox check-row" value="0" name="checkRow"></td>
                                <td>{{row.name}}</td>
                           </tr>
                        </tbody>
                    </table>
                </div>
                
                <button type="button" class="btn btn-green" ng-disabled="btn_spinner_display" ng-click="confirm()">保　存</button>
               
            </div>   
        </div>                     
    </section>      
</div> 