<div class="row-fluid page-head">
    <h2><i class="aweso-icon-table"></i> 个人设置 <small>密码修改 </small></h2>
    <div class="page-bar">
        <div class="btn-toolbar"> </div>
    </div>
</div>           
<div id="page-content" class="page-content">
    <section>
        <div class="row-fluid">
            <div class="well well-small well-nice">
                <div class="navbar">
                    <div class="navbar-inner">
                        <div class="widget-header">
                        		<h4><i class="fontello-icon-edit"></i> </h4>

                        </div>
                    </div>
                </div>
                <!-- // navbar -->
                <div class="modal-body1">
	            <div class="row-fluid">
	                <div class="span12">
	                    <ul class="form-list label-right  dotted form-horizontal">
	                        <li class="control-group">
	                            <label for="accountPrefix" class="control-label">密码</label>
	                            <div class="controls">
	                                <input class="span5" type="password" ng-model="usersinfo.password1" required>
	                            </div>
	                        </li> 

	                        <li class="control-group">
	                            <label for="accountPrefix" class="control-label">再次输入</label>
	                            <div class="controls">
	                                <input class="span5" type="password" ng-model="usersinfo.password2" required>
	                            </div>
	                        </li> 

	                        <li class="control-group">
	                            <label for="accountPrefix" class="control-label"></label>
	                            <div class="controls">
	                                <button type="button" class="btn btn-green" ng-disabled="btn_spinner_display" ng-click="confirm()">保　存</button>
	                            </div>
	                        </li> 
	                  
	                    </ul>
	                </div>
	            </div>
	    </div>
                
                
               
            </div>   
        </div>                     
    </section>      
</div> 