<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html>
<!--<![endif]-->

<head>
<meta charset="utf-8">
<title>后台管理</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="description" content="">
<meta name="author" content="">

<!-- Custom styles -->
<style type="text/css">
.signin-content {
  max-width: 360px;
  margin: 0 auto 20px;
}
</style>

<!-- Le styles -->
<link href="../library/assets/css/lib/bootstrap.css" rel="stylesheet">
<link href="../library/assets/css/lib/bootstrap-responsive.css" rel="stylesheet">
<link href="../library/assets/css/boo-extension.css" rel="stylesheet">
<link href="../library/assets/css/boo.css" rel="stylesheet">
<link href="../library/assets/css/style.css" rel="stylesheet">
<link href="../library/assets/css/boo-coloring.css" rel="stylesheet">
<link href="../library/assets/css/boo-utility.css" rel="stylesheet">
</head>

<body class="signin signin-vertical">
<div class="page-container">
    <div id="header-container">
        <div id="header">
            <div class="navbar-inverse navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container"> </div>
                </div>
            </div>            
            <div class="header-drawer" style="height:3px"> </div>
        </div>
    </div>
    
    <div id="main-container"  ng-app="loginApp" ng-controller="LoginCtrl" >
        <div id="main-content" class="main-content container">
            <div class="signin-content">
                <h1 class="welcome text-center" style="line-height: 0.6;"><span style="margin-left: -45px;"><!-- Welcome to --></span><br /><!-- 
                    Boo --><small><!-- admin panel --></small></h1>
                <div class="well well-nice form-dark">
                    <div class="tab-content overflow">
                        <div class="tab-pane fade in active" id="login">
                            <h3 class="no-margin-top"><i class="fontello-icon-user-4"></i> 欢迎！</h3>
                            <form class="form-tied margin-00" method="post" action="#" name="login_form">
                                <fieldset>
                                    <legend class="two"><span></span></legend>
                                    <ul>
                                        <li>
                                            <input ng-model="username" class="input-block-level" type="text" name="username" placeholder="账号" ng-keypress="search_keypress($event)">
                                        </li>
                                        <li>
                                            <input ng-model="password" class="input-block-level" type="password" name="password" placeholder="密码" ng-keypress="search_keypress($event)">
                                        </li>
                                    </ul>
                                    <button type="button" class="btn btn-envato btn-block btn-large" ng-click="login()">登 录</button>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>            
        </div>        
    </div>    
</div>
<script src="../library/angular/angular.min.js"></script>
<script src="../library/angular/angular-cookies.min.js"></script>
<script src="../library/assets/js/lib/jquery.js"></script> 
</body>

<script>
    var app = angular.module('loginApp', ['ngCookies']);
    app.controller('LoginCtrl', function($scope, $cookieStore, LoginService, $window) {
        $scope.login = function() {
            if ($scope.username == undefined || $scope.username == '' ||
                $scope.password == undefined || $scope.password == '') {
                return;
            }
            $scope.save_spinner_display = true;
            LoginService.login($scope.username, $scope.password).success(function (data) {
                if(data.ret == 0) {
                    $cookieStore.put("username", $scope.username);
                    $window.localStorage["access"]=JSON.stringify(data.access);
                    window.location = "/admin/index.html";
                } else {
                    $scope.save_spinner_display = false;
                    alert(data.msg);
                }
            }).error(function (error, status) {
                $scope.save_spinner_display = false;
                alert("登录失败(status:" + status + ")");
            });
        };


        $scope.search_keypress = function (event) {
            if(event.keyCode == 13) {
                $scope.login();
            }
        }
    }).service('LoginService', ['$http', function ($http) {
        var login = function (username, password) {
            var url = '/api/users/login';
            var data = {username:username,password:password};
            return $http.post(url, data);
        };
        return {
            login: function (username, password) {
                return login(username, password);
            }
        };
    }])
</script>
</html>
